<%
locals.OLSKPageTitle = OLSKLocalized('GRDVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('GRDVitrineDescription');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage: OLSKSharedPageCurrentLanguage,
};
%>

<div class="GRDVitrine OLSKDecor OLSKDecorCapped">

<div class="GRDVitrineCrown OLSKCommonCard OLSKCommonCrownCard">
	<img class="GRDVitrineCrownIcon" src="<%= process.env.OLSK_EXPRESS_IDENTITY_ICON_URL %>" role="presentation" />
	<section>
		<span class="GRDVitrineCrownName"><%= OLSKLocalized('GRDVitrineTitle') %></span>
		<span class="GRDVitrineCrownBlurb"><%= OLSKLocalized('GRDVitrineDescription') %></span>
	</section>
</div>

<dl class="OLSKDecorGlossary">
	<dt><a href="https://rosano.hmm.garden">My public notes</a></dt>
	<dd>A space to write, collect, revise, and share.</dd>
	<dt><a href="https://rosano.hmm.garden/01f04ph0mzahzyyd2grqa7nh9c">Gardens made with Hyperdraft</a></dt>
	<dd>From friends and strangers.</dd>
	<dt><a href="https://rosano.hmm.garden/01f1qb647yapyjte61k93fa8zj">Why 'hmm'?</a></dt>
	<dd>Hmm, wouldn't you like to know?</dd>
</dl>

<script src="https://olsk.rosano.ca/feedbox/master/main.js" data-feedbox></script>

</div>
