<%
locals.OLSKPageTitle = OLSKLocalized('GRDError404Title');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKLayout/ui-style.css',
];
%>

<div class="GRDError404 OLSKCommon OLSKCommonCapped">

<div class="GRDError404Identity OLSKCommonCard OLSKCommonIdentityCard">
	<section>
		<span class="GRDError404IdentityName"><%= OLSKLocalized('GRDError404Title') %></span>
	</section>
</div>

<p class="GRDError404Content"><%= OLSKLocalized('GRDError404ContentText') %></p>

</div>
